[core]
    excludesfile=~/.gitignore-global
    autocrlf = input
    hooksPath = ~/.hooks
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true
[alias]
    wip = ! git add -u && git commit -m "WIP"
    wc = ! git diff --word-diff=porcelain | grep -e '^+[^-]' | wc -w
    sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
    search = '! ~/bin/git-search'
    recent = branch --sort=-committerdate
[include]
    path = ~/.gitconfig-personal
[include]
    path = ~/.gitconfig-work
