URxvt.font: xft:Iosevka Medium:size=10:hinting=true:antialias=true, xft:Terminess Powerline:size=10
URxvt.boldFont: xft:Iosevka Heavy:size=10:bold:hinting=true:antialias=true

URxvt.letterSpace: 0

URxvt.internalBorder: 20
URxvt.externalBorder: 0

URxvt.scrollBar: false

URxvt*fading: 30

! not mix bright with bold
URxvt.intensityStyles: false
URxvt*cursorColor:   #e4e4e4
URxvt.perl-ext-common: fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch

! terminal colours
 *foreground:#CCCCCC
 *background:#1c1c1c

! !black darkgray
 *color0:    #1B1D1E
 *color8:    #808080
! !darkred red
 *color1:    #FF0044
 *color9:    #F92672
! !darkgreen green
 *color2:    #82B414
 *color10:   #A6E22E
! !darkyellow yellow
 *color3:    #FD971F
 *color11:   #E6DB74
! !darkblue blue
 *color4:    #266C98
 *color12:   #7070F0
! !darkmagenta magenta
 *color5:    #AC0CB1
 *color13:   #D63AE1
! !darkcyan cyan
 *color6:    #AE81FF
 *color14:   #66D9EF
! !gray white
 *color7:    #CCCCCC
 *color15: #F8F8F2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #d8dee8, #2f343f, #2f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b
