URxvt.font: xft:Iosevka Medium:size=10:hinting=true:antialias=true, xft:Terminess Powerline:size=10
URxvt.boldFont: xft:Iosevka Heavy:size=10:bold:hinting=true:antialias=true

URxvt.letterSpace: 0

URxvt.internalBorder: 20
URxvt.externalBorder: 0

URxvt.scrollBar: false

URxvt*fading: 30

! not mix bright with bold
URxvt.intensityStyles: false

URxvt*background:   #1e1f28
URxvt*foreground:   #ebece6
URxvt*cursorColor:   #e4e4e4
URxvt*color0:   #999
URxvt*color1:   #fb4245
URxvt*color2:   #50fa7b
URxvt*color3:   #f0fa8b
URxvt*color6:   #8be9fd
URxvt*color7:   #ededec
URxvt*color8:   #555555
URxvt*color9:   #fb4245
URxvt*color10:   #50fa7b
URxvt*color11:   #f0fa8b
URxvt*color12:   #49b9fe
URxvt*color13:   #fb4cb3
URxvt*color14:   #8be9fd
URxvt*color15:   #ededec
URxvt.perl-ext-common: fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #d8dee8, #2f343f, #2f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b
